# Byte-compiled files
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
env/
venv/
*.env

# Test result files
coverage/
*.cover
.noseids
*.log

# Build artifacts
build/
dist/
*.egg-info/

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/
*.swp

# Pipenv, poetry, or similar tools
Pipfile
Pipfile.lock
poetry.lock
